.row {
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid #eee;

  &:first-of-type {
    border-top: 1px solid #eee;
  }

  &:nth-of-type(odd) {
    background-color: #def;
  }
}

.starIcon:focus {
  outline: none;
}

.userAvatar {
  max-width: 24px;
  max-height: 24px;
}